@model Product

<form asp-action="Create">
    
    <div class="mb-3">
       <label asp-for="Name" class="form-label"></label>
        <input class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input type="number" class="form-control" asp-for="Price">
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Amount" class="form-label"></label>
        <input type="number" class="form-control" asp-for="Amount">
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-success" asp-action="Index">Cancel</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}