@model IEnumerable<IdentityRole>

<a class="btn btn-primary" asp-action="Create">Create</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-name="@item.Name">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-name="@item.Name"
                    onclick="return confirm('Are you sure?')">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>