@model Product

<div class="container col-6">
    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Price" class="form-label"></label>
            <input type="number" asp-for="Price" class="form-control">
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Amount" class="form-label"></label>
            <input type="number" asp-for="Amount" class="form-control">
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Image</label>
            <input type="file" name="file" class="form-control" onchange="loadFile(event)">
        </div>

        <div class="col-4">
            <img width="100" class="m-2 border rounded" id="output" />
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-secondary" asp-action="Index">Cancel</a>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        function loadFile(event) {
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>

}
