


<p>Create Page</p>

<div class="container col-md-6">
    <form>
        <div class="mb-3">
            <label class="form-label">ID</label>
            <input type="number" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Price</label>
            <input type="number" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Amount</label>
            <input type="number" class="form-control">
        </div>

        <div class="d-flex justify-content-between w-50">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-primary" asp-action="Index">Back</a>
        </div>
    </form>
</div>

