@model Product

<p>Update Page</p>

<div class="container col-md-6">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="Id" class="form-label"></label>
            <input asp-for="Id" type="number" class="form-control" readonly>
            <span asp-validation-for="Id" class="text-danger" />
        </div>
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger" />
        </div>
        <div class="mb-3">
            <label asp-for="Price" class="form-label"></label>
            <input asp-for="Price" type="number" class="form-control">
            <span asp-validation-for="Price" class="text-danger" />
        </div>
        <div class="mb-3">
            <label asp-for="Amount" class="form-label"></label>
            <input asp-for="Amount" type="number" class="form-control">
            <span asp-validation-for="Amount" class="text-danger" />
        </div>

        <div class="d-flex justify-content-between w-50">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-primary" asp-action="Index">Back</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
