@{
    ViewData["Title"] = "Home Page";
    int number = 5555;
}

<div class="text-center">
    <h1 class="display-4">สวัสดีไอพวกทึมทื่อ @number</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
